<h3>{{get @product 'name'}}</h3>
<label>Enter an item:
  <Input type='text' @value={{this.itemValue}} />
</label>
<input type='submit' value='Add' {{on 'click' this.addItem}} ...attributes/>
<ul>
  {{#each @product.items as |product|}}
    <div>
      <li>{{product}}
        <button
          type='button'
          {{on 'click' (fn this.deleteItem product)}}
          class='btn btn-outline-dark btn-sm'>
          Delete
        </button>
      </li>
    <br />
  </div>
  {{/each}}
</ul>
